recursive-include SCTimeUtility/Resources *
recursive-include SCTimeUtility/Resources/Icons/*
recursive-include SCTimeUtility/Resources/Docs/*
include SCTimeUtility/Resources/UI/*.ui
global-exclude .gitignore